.weather-menu {
    z-index: 0;
    box-sizing: border-box;
    display: flex;

    justify-content: center;

    padding: 8px;

    background-color: rgb(60, 60, 60);
}

.weather-menu button {
    padding: 2px;
    margin: 2px;

    background-color:#e2ddd7;
    color: rgb(41, 41, 41);

    border-radius: 2px;

    font-size: 1.2em;

    padding: 8px;
    
    appearance: none;
    -webkit-appearance: none; 
}

/* WIDE SCREEN */
@media only screen and (min-width: 1024px){
    .weather-menu{
        position: absolute;
        display: inline-grid;

        left: 0;

        padding: 12px;

        border-radius: 0 0 8px 0;
    }

    .weather-menu button {
        font-size: 2em;
    }
}